.switch-wrapper {
  width: 100%;
  max-width: 300px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.label-container label {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  font-family: "Ubuntu", sans-serif;
}

.switch-container {
  width: 100%;
  max-width: 60px;
  max-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.switch-container .switch-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #949494;
  z-index: -1;
  transition: background-color 0.2s ease-in;
}

.switch-container #with-warrenty:checked ~ .switch-bg {
  background-color: #37ca37;
}

.switch-container .switch-left span {
  font-size: 11px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  line-height: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.switch-container .switch-right span {
  font-size: 11px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  line-height: 1;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.switch-container #with-warrenty:checked ~ .switch-left span {
  opacity: 1;
}
.switch-container #with-warrenty:checked ~ .switch-right span {
  opacity: 0;
}

.switch-container .round-box {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  transform: translate(-3px, -50%);
  background-color: #f6f6f6;
  box-shadow: 0 2px 3px rgb(0 0 0 / 15%);
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.switch-container #with-warrenty:checked ~ .round-box {
  transform: translate(25px, -50%);
}
